body {
  background-color: var(--background);
  justify-content: center;
  align-items: center;
  display: flex;
}

@keyframes reveal {
  0% { 
    transform: none;
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

@keyframes gradient {
  0% { 
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.appContainer {
  background-color: var(--background);
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  height: 90vh;
  width: 100vw;
}

.section {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
}

#toggleTheme {
  display: none;
}

.toggler {
  display: block;
  width: 60px;
  height: 31px;
  border: 2px solid var(--text-primary);
  border-radius: 30px;
  cursor: pointer;
  position: absolute;
  top: 1%;
  right: 1%
}

.ball,
.light,
.dark {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.light {
  left: 5px
}

.dark {
  right: 5px;
}

.ball {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: var(--text-primary);
  border-radius: 50%;
  left: 1px;
  z-index: 10;
  transition: transform .5s ease-in-out
}

#toggleTheme:checked+.ball {
  transform: translate(29px, -50%)
}

.champContainer {
  width: 80%;
  height: 80%;
  position: relative;
  background: var(--cardBG);
  border: 1px solid black;
  border-radius: 20px;
}

.triangleContainer {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  margin-right: 25px;
}

.triangleScroll {
  background: linear-gradient(-45deg, #ee7752, #e737ce, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  width: 45px;
  height: 45px;
  clip-path: polygon(100% 0%, 0% 0%, 50% 100%);
}

.two {
  width: 35px;
  height: 35px;
  clip-path: polygon(100% 0%, 0% 0%, 50% 100%);
  }

.three {
  width: 25px;
  height: 25px;
  clip-path: polygon(100% 0%, 0% 0%, 50% 100%);
}


.champName {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25%;
  font-size: 25px;
  font-weight: 700;
}

.champMessage {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20%;
  font-size: 20px;
}

.standings {}

.standingsContainer {
  width: 80%;
  height: 80%;
  position: relative;
  background-color: var(--cardBG);
  border: 1px solid black;
  border-radius: 20px;
}

.trianglePage {
  clip-path: polygon(100% 100%, 0% 100%, 100% 0%);
  background: var(--background);
  position: absolute;
  width: 200px;
  height: 200px;
  bottom: 0;
  right: 0;
}

.standingsContainer::after,
.standingsContainer::before {
  background-color: white;
  content: "";
  display: block;
  height: var(--cornerSize);
  border-top-right-radius: 5px;
  position: absolute;
  width: 2px;
}

.standingsContainer::after {
  bottom: -1px;
  right: -1px;
  width: var(--cornerSize);
  height: 2px;
}

.standingsContainer::before {
  bottom: -1px;
  right: -1px
}

.standingsBorderEast {
  display: grid;
  margin-top: 20px;
}

.standingsTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.standingsDivision {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  
}

.standingsRecordHeader {
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50pxs;
}

.standingsRecordContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 25px;
}

.standingsTeams {
  margin-top: 15px;
}

.standingsRecords {}

/*
*********************************
*********************************
INTO MOBILE CSS 
EVERYTHING AFTER HERE IS MOBILE
*********************************
*********************************
*/

@media screen and (max-width: 600px) {

  .champ {}

  .champContainer {
    width: 80%;
    height: 90%;
    margin-top: 5%;
    position: relative;
    background: var(--cardBG);
    border: 1px solid black;
    border-radius: 20px;
  }

  .champName {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60%;
    height: 20%;
    font-size: 50px;
    font-weight: 700;
    background: linear-gradient(-45deg, #5433FF, #20BDFF, #A5FECB);
    background-size: 400% 400%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient 5s linear infinite;
  }

  .champMessage {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20%;
    font-size: 25px;
    background: linear-gradient(45deg, #5433FF, #20BDFF, #A5FECB);
    background-size: 400% 400%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient 5s linear infinite;
  }

  .standings {
  }

  .standingsContainer {
    width: 80%;
    height: 80%;
    position: relative;
    background-color: var(--cardBG);
    border: 1px solid black;
    border-radius: 20px;
  }
  
  .standingsContainer::after,
  .standingsContainer::before {
    background-color: white;
    content: "";
    display: block;
    height: 76px;
    border-top-right-radius: 5px;
    position: absolute;
    width: 3px;
  }
  
  .standingsContainer::after {
    bottom: -2px;
    right: -2px;
    width: 76px;
    height: 3px;
  }
  
  .standingsContainer::before {
    bottom: -2px;
    right: -2px
  }

  .standingsBoard {
    display: flexbox;
    height: 100%;
  }

  .trianglePage {
    clip-path: polygon(100% 100%, 0% 100%, 100% 0%);
    background: var(--background);
    position: absolute;
    z-index: 999;
    width: 75px;
    height: 75px;
    bottom: 0;
    right: 0;
  }

  .standingsTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    height: 20%;
  }

  .standingsDivision {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .divisionSwap {
    height: 80%;
  }

  .divisionSwap:not(:active) {
    animation: reveal 3s .05s linear forwards;
  }

  .standingsRecordHeader {
    display: inline-flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .standingRecordContainer {
    display: inline-flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding-top: 5%;
  }

  .standingsTeams {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .standingsRecords {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  .standingsRecordsInput {
    display: flex;
    margin: 15px;
    justify-content: space-between;
    align-items: center;
  }

  .standingsUpdate {
    width: 25%;
    height: 5%;
    display: flex;
    position: absolute;
    top: 7.5%;
    right: 5%;
    background-color: transparent;
    border: none;
  }

  .editStandings {
    width: 25%;
    height: 5%;
    background-color: transparent;
    border: none;
    display: flex;
    position: absolute;
    top: 7.5%;
    left: 5%;
  }

}