body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --background: white;
  --text-primary: black;
  --cardBG: #636363;
  --text-secondary: royalblue;
  --accent: purple;
  --cornerSize: 250px;
}

[data-theme="dark"] {
  --background: #2a2a2a;
  --cardBG: #e5e5e5;
  --text-primary: white;
  --text-secondary: grey;
  --accent: red;
}
